body {
  font-family: sans-serif;
  background: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}
header, footer {
  background: #cc0000;
  color: white;
  text-align: center;
  padding: 1em 0;
}
.tabs {
  display: flex;
  justify-content: center;
  background: #eee;
  padding: 0.5em;
  flex-wrap: wrap;
}
.tab-button {
  background: #cc0000;
  color: white;
  padding: 0.5em 1em;
  margin: 0.2em;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.tab-button.active {
  background: #a00000;
}
.tab-content {
  display: none;
  padding: 1em;
}
.tab-content.active {
  display: block;
}

 table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}
thead {
  background-color: #cc0000;
  color: white;
}
th, td {
  padding: 0.75em;
  text-align: left;
  border-bottom: 1px solid #eee;
}
tr:last-child td {
  border-bottom: none;
}

    .link-buttons {
      display: flex;
      <!--  flex-direction: column; -->
      align-items: center;
      gap: 0.75em;
      margin-top: 1.5em;
    }

    .link-button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 150px;
      height: 30px;
      max-width: 300px;
      background-color: #cc0000;
      color: white;
      padding: 0.75em 1em;
      text-decoration: none;
      font-size: 1.1em;
      border-radius: 10px;
      transition: background-color 0.3s;
      font-weight: bold;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }

    .link-button:hover {
      background-color: #990000;
    }

    .link-button::before {
      content: '';
      margin-right: 0.5em;
    }

    .button-icon {
      width: 24px;
      height: 24px;
      object-fit: contain;
      flex-shrink: 0;
    }





.link-buttons-blue {
  display: flex;
  <!--  flex-direction: column; -->
  align-items: center;
  gap: 0.75em;
  margin-top: 1.5em;
}

.link-button-blue {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 150px;
  height: 30px;
  max-width: 300px;
  background-color: #7289DA;
  color: white;
  padding: 0.75em 1em;
  text-decoration: none;
  font-size: 1.1em;
  border-radius: 10px;
  transition: background-color 0.3s;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.link-button-blue:hover {
  background-color: #4e5d94;
}

.link-button-blue::before {
  content: '';
  margin-right: 0.5em;
}

.button-blue-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  flex-shrink: 0;
}